@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");

@import url("https://discordstyles.github.io/Addons/bottomhsl.css");

:root {
  --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
  --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
}
